.wrapper {
  background-color: var(--background-color);
  min-height: 100dvh;
  display: grid;
  justify-content: center;
  padding: 140px 0px;
}

.container {
  display: grid;
  grid-template-columns: minmax(320px, 1fr);
  justify-content: center;
  align-content: center;
  gap: 40px;
}